<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">
        {#<link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">#}
        <link rel="stylesheet" type="text/css" href="{{ asset('empty_layout/css/styles.css') }}">
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
    <div class="gap-20"></div>
    <header class="container">
        <div class="col-md-4 col-md-offset-4">
            <div class="logo">
                <img src="{{ asset('img/logo_white.png') }}" alt="Black Bonus Card">
            </div>
        </div>
    </header>
    <div class="gap-20"></div>
    <div class="container main-container">
    {% for type, flash_messages in app.session.flashBag.all %}
        <div class="gap-20"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% for flash_message in flash_messages %}
                        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="container">
        {% block fos_user_content %}{% endblock fos_user_content %}
    </div>
    <div class="gap-20"></div>
    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('empty_layout/js/script.js') }}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-104513219-1', 'auto');
            ga('send', 'pageview');

        </script>
    {% endblock %}
</body>
</html>