{% extends '@WebsiteBundle/layout.html.twig' %}

{%
set metaParams = {
    'title': homepage.pageTitle,
    'description': homepage.pageMetaDescription,
    'keywords': homepage.pageMetaKeywords,
    'ogImage': homepage.pageOgImage
}
%}

{% block meta %}
    {% include '@WebsiteBundle/parts/meta.html.twig' with metaParams %}
{% endblock %}

{% block title %}{{ parent() }} | {{ homepage.pageTitle }}{% endblock %}

{% block body %}
    <div class="callback" data-toggle="modal" data-target="#call">
        <p>
            <i class="fa fa-phone"></i> <span>{{ 'Պատվիրի՛ր զանգ'|trans }}</span>
        </p>
    </div>
    <div class="splash fullscreen">
        <img src="{{ asset('img/logo.png') }}" alt="logo">
    </div>
    <div id="home" class="topposter fullscreen" style="background-image:url({{ asset('img/bg.png') }})">
        <div class="container">
            <div class="col-md-6 col-sm-6 col-xs-12 header_h1">
                <h1><span>{{ 'Կուտակի՛ր'|trans }}</span> <br> {{ 'բոնուսային'|trans }} <br> {{ 'միավորներ'|trans }}</h1>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 storebudge">
                <div class="storebudge__icons">
                    <a href="https://itunes.apple.com/am/app/black-bonus-card/id1273248724?mt=8"><img src="{{ asset('img/design-elements/app-store-badge.svg') }}" alt="image"></a>
                    <a href="https://play.google.com/store/apps/details?id=am.black.adam.black"><img src="{{ asset('img/design-elements/google-play-badge.png') }}" alt="image"></a>
                </div>
            </div>
        </div>
    </div>
    <div id="categories" class="container-fluid">
        <div class="owl-carousel top_carousel">
            {% for service in services %}
            <div class="item">
                <a href="javascript:void(0)" class="map-service-list-item" data-service="{{ service.id }}">
                    <img src="{{ asset(service.serviceIcon) }}" alt="{{ service.serviceTitle }}"><p>{{ service.serviceTitle }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="mapinfo">
            <div class="arrow"></div>
            <div class="mapinfo__map" id="map"></div>
            <div class="mapinfo__info">
                <ul>
                    {% for branch in branches %}
                    <li><a href="javascript:void(0)" class="map-branch-list-item" data-lat="{{ branch.branchLat }}" data-long="{{ branch.branchLong }}"><i class="fa fa-map-marker"></i> {{ branch.company.companyTitle }} {{ branch.branchTitle }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid divider" style="background-image:url({{ asset('img/divider.jpg') }})">
        <div class="divider__mask">
            <div class="container">
                <div class="divider__icons">
                    <div class="item">
                        <img src="{{ asset('img/design-elements/percentage.svg') }}" alt="">
                        <p>{{ 'Կուտակված միավորներով վճարում կատարելու հնարավորություն'|trans }}</p>
                    </div>
                    <div class="item">
                        <img src="{{ asset('img/design-elements/equal.svg') }}" alt="">
                        <p>{{ 'Մեկ միավորը համարժեք է մեկ դրամի'|trans }}</p>
                    </div>
                    <div class="item">
                        <img src="{{ asset('img/design-elements/delivery-truck.svg') }}" alt="">
                        <p>{{ 'Քարտի անվճար առաքում'|trans }}</p>
                    </div>
                    <div class="item">
                        <img src="{{ asset('img/design-elements/price-tag.svg') }}" alt="">
                        <p>{{ 'Ավելի քան 150 գործընկեր'|trans }}</p>
                    </div>
                    <div class="item">
                        <img src="{{ asset('img/design-elements/operator.svg') }}" alt="">
                        <p>{{ 'Ցանկացած հարցի դեպքում զանգահարեք՝ 011-54-44-44'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="services" class="container-fluid">
        <div class="container">
            <div class="row text-center">
                <h2 style="margin-bottom:20px; color:#fff">{{ 'Ինչ՞ու Մեզ Հետ'|trans }}</h2>
            </div>
            <div class="service__container">
                <div class="srv__img padding-0">
                    <img src="{{ asset('img/logo_full.png') }}" class="img img-responsive" alt="image">
                </div>
                <div class="srv__list padding-0">
                    <ul>
                        <li>{{ 'Տրամադրում ենք անվճար դիագնոստիկա'|trans }}</li>
                        <li>{{ 'Անվճար իրավաբանական խորհրդատվություն'|trans }}</li>
                        <li>{{ 'Անվճար իրավաբանական ծառայություններ ակտերի բողոքարկում և բեկանում'|trans }}</li>
                        <li>{{ 'Անվճար տեխզննում'|trans }}</li>
                        <li>{{ 'Կուտակեք 7-14 միավոր 1խ/մ գազի դիմաց լավագույն գազալցակայաններում'|trans }}</li>
                        <li>{{ 'Կուտակեք 10-14 միավոր 1լ բենզինի դիմաց'|trans }}</li>
                        <li>{{ 'Կուտակեք 8-10% տեխսպասարկումից'|trans }}</li>
                        <li>{{ 'Կուտակեք 8-10% ավտոպահեստամասերից'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="call" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content modal-call">
                <div class="modal-body">
                    {{ render(controller('AppBundle:Parts:requestCallback')) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var mapDataUrl = "{{ absolute_url("/maps/0") }}";
    </script>
    <script src="{{asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyALxALGW351qx4nNLEW8vWIO_oDvs8xcgM&callback=initMap')}}" async defer></script>
    <script src="{{asset('js/maps.js')}}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery.mask.min.js') }}"></script>
    <script>$(function(){ $('.phone').mask('(000) 00-00-00'); });</script>
{% endblock %}
