{{ form_start(contactForm) }}
    {{ form_widget(contactForm.name, {'attr': {'placeholder': 'Անունը *'|trans}}) }}
    {{ form_widget(contactForm.email, {'attr': {'placeholder': 'Էլ. հասցեն *'|trans}}) }}
    {{ form_widget(contactForm.message, {'attr': {'placeholder': 'Հաղորդագրություն *'|trans}}) }}
    {{ form_widget(contactForm.save) }}
{{ form_end(contactForm) }}