{{ form_start(callbackForm) }}
<label>{{ 'Ձեր Հեռախոսահամարը'|trans }}</label>
{{ form_widget(callbackForm.phone, {'attr': {'class': 'form-control phone', 'placeholder': '(___) __-__-__'}}) }}
{{ form_widget(callbackForm.save, {'attr': {'class': 'call_btn'}}) }}
{{ form_end(callbackForm) }}