{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container-fluid" style="background-image:url({{ asset('img/bg.png') }}); background-repeat: no-repeat; background-position: top;">
        <div class="gap-50"></div>
        <div class="container">
            <div class="">
                <div class="col-md-12" >
                    <h1>{{ 'Խմբագրել տվյալները'|trans }}</h1>
                </div>
            </div>
        </div>
        <div class="gap-50"></div>
    </div>
    <div class="container">
        <div class="gap-50"></div>
        <div class="">
            {% include "@FOSUser/Profile/edit_content.html.twig" %}
        </div>
        <div class="gap-50"></div>
    </div>
{% endblock fos_user_content %}
