{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>{{ 'Անուն'|trans }}</label>
                        {{ form_errors(form.firstName) }}
                        {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>{{ 'Ազգանուն'|trans }}</label>
                        {{ form_errors(form.lastName) }}
                        {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>{{ 'Հեռախոս'|trans }}</label>
                        {{ form_errors(form.phoneNumber) }}
                        {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>{{ 'Էլ. Հասցե'|trans }}</label>
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>{{ 'Գաղտնաբառ'|trans }}</label>
                        {{ form_errors(form.current_password) }}
                        {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn-white btn-full btn-rounded" value="{{ 'Խմբագրել'|trans }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
