{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div style="margin-top: 200px;"></div>
    <div class="container-fluid" style="background-color:#000;">
        <div class="gap-50"></div>
        <div class="container">
            <div class="col-md-12">
                <h1>{{ 'Իմ Հաշիվը'|trans }}</h1>
            </div>
        </div>
        <div class="gap-50"></div>
    </div>
    <div class="container main-container">
        <div class="col-md-12">
            {% include "@FOSUser/Profile/show_content.html.twig" %}
        </div>
        <div class="gap-50"></div>
    </div>
{% endblock fos_user_content %}

{% if user.customer is empty %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            $(function(){

                var registerButton = $('#registerCardButton');
                var cardIdInput = $('input[name="cardId"]');
                var licensePlateInput = $('input[name="licensePlate"]');

                registerButton.on('click', function(e){

                    e.preventDefault();

                    var cardId = cardIdInput.val();
                    var licensePlate = licensePlateInput.val();

                    $.ajax({
                        method: 'POST',
                        url: '{{ path('data_register_card') }}',
                        data: 'card_id='+cardId+"&licence_plate="+licensePlate,
                        success: function(data){

                            $('#registerCard').modal('toggle');

                            var alert = "";
                            alert += "<div class=\"container\">";
                            alert += "<div class=\"alert alert-"+data.type+" alert-dismissible\" role=\"alert\">";
                            alert += "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>";
                            alert += data.message;
                            alert += "</div></div>";

                            $('.main-container').prepend(alert);

                        }
                    });

                });


                // Transaction History Data
                var dateFrom = "{{ user.userRegisteredAt|date('d-m-Y') }}";
                var dateTo = "{{ 'now'|date('d-m-Y') }}";

                $.ajax({
                    url: "/data/filter-transactions",
                    method: "POST",
                    data: "date-from="+dateFrom+"&date-to="+dateTo,
                    success: function (data) {


                        var accumulatedData = "";
                        var spentData = "";

                        $.each(data.accumulated, function(){

                            accumulatedData += "<tr>";
                            accumulatedData += "<td><p>"+this.companyName+"<br><span>"+this.branchAddress+"</span></p></td>";
                            accumulatedData += "<td style='text-align: center;'>"+this.transactionDate+"</td>";
                            accumulatedData += "<td style='text-align: center;'>"+this.transactionAmount+"</td>";
                            accumulatedData += "<td style='text-align: right;'>"+this.bonusAmount+"</td>";
                            accumulatedData += "</tr>";

                        });

                        $.each(data.expenses, function(){

                            spentData += "<tr>";
                            spentData += "<td><p>"+this.companyName+"<br><span>"+this.branchAddress+"</span></p></td>";
                            spentData += "<td style='text-align: center;'>"+this.transactionDate+"</td>";
                            spentData += "<td style='text-align: center;'>"+this.transactionAmount+"</td>";
                            spentData += "<td style='text-align: right;'>"+this.bonusAmount+"</td>";
                            spentData += "</tr>";

                        });

                        $('table.table-accumulated tbody').html('');
                        $('table.table-accumulated tbody').html(accumulatedData);

                        $('table.table-spent tbody').html('');
                        $('table.table-spent tbody').html(spentData);

                    }
                });

            });
        </script>
    {% endblock %}
{% endif %}
