{% trans_default_domain 'FOSUserBundle' %}
<div class="user_inform clearfix">
  <div class="col-md-4">
    <h2 class="list_header">{{ 'Տվյալներ'|trans }}</h2>
    <div class="userinfo row">
      {% if user.customer is not empty %}
          {% if user.account.balance is not empty %}
              <div>{{ 'Բալանս՝'|trans }} <b>{{ user.account.balance.first.finalAmount }}</b> {{ 'միավոր'|trans }}</div>
          {% else %}
              <div>{{ 'Բալանս՝'|trans }} 0 {{ 'միավոր'|trans }}</div>
          {% endif %}
      {% endif %}
      <hr>
      <div>{{ user.firstName }} {{ user.lastName }}</div>
      <div>{{ user.email }}</div>
      <hr>
      <div>
          {% if user.customer is not empty %}
              {{ 'Քարտի Համարանիշը'|trans }}: {{ user.customer.customerCardNumber }}<br>
              {{ 'Քարտի Գաղտնաբառը'|trans }}: {{ user.customer.paymentPassword }}
          {% else %}
              <a href="javascript:void(0)" type="button" class="" data-toggle="modal" data-target="#registerCard">{{ 'Գրանցեք Ձեր Քարտը'|trans }}</a>
          {% endif %}
      </div>
    </div>
    <a href="{{ path('fos_user_change_password') }}" class="btn-edit btn-half btn-left">{{ 'Փոխել Գաղտնաբառը'|trans }}</a>
    <a href="{{ path('fos_user_profile_edit') }}" class="btn-edit btn-half btn-right">{{ 'Խմբագրել տվյալները'|trans }}</a>
  </div>
  <div class="col-md-8">
    <h2 class="list_header">{{ 'Գործարքներ'|trans }}</h2>
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li style="padding:0;" class="active"><a data-toggle="tab" href="#accumulated">{{"Կուտակած"|trans}}</a></li>
          <li style="padding:0;"><a data-toggle="tab" href="#spent">{{"Ծախսած"|trans}}</a></li>
        </ul>
        <div class="tab-content">
          <div id="accumulated" class="tab-pane fade active in">
            <table class="compiled table table-accumulated">
              <thead>
                <tr class="table-header">
                  <td>{{ 'Հասցե'|trans }}</td>
                  <td style="text-align: center;">{{ 'Ամսաթիվ'|trans }}</td>
                  <td style="text-align: center;">{{ 'Ծախս'|trans }}</td>
                  <td style="text-align: right;">{{ 'Կուտակած Միավորներ'|trans }}</td>
                </tr>
              </thead>
              <tbody></tbody>{#Generated With JavaScript#}
            </table>
          </div>
          <div id="spent" class="tab-pane fade">
            <table class="compiled table table-spent">
              <thead>
                <tr class="table-header">
                  <td>{{ 'Հասցե'|trans }}</td>
                  <td style="text-align: center;">{{ 'Ամսաթիվ'|trans }}</td>
                  <td style="text-align: center;">{{ 'Ծախս'|trans }}</td>
                  <td style="text-align: right;">{{ 'Կուտակած Միավորներ'|trans }}</td>
                </tr>
              </thead>
              <tbody></tbody>{#Generated With JavaScript#}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% if user.customer is empty %}
    <div class="modal fade" id="registerCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'Գրանցեք Ձեր Քարտը'|trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="color: #000">{{ 'Քարտի Համարանիշ'|trans }}</label>
                                <input type="text" name="cardId" class="form-control" style="color: #000;" maxlength="6" minlength="5">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="color: #000">{{ 'Մեքենայի Համարանիշ'|trans }}</label>
                                <input type="text" name="licensePlate" class="form-control" style="color: #000;" maxlength="5" minlength="7">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="registerCardButton">{{ 'Գրանցել'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
