{% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        {% block meta %}
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/owl.carousel.min.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        <title>{% block title %}Black Bonus Card{% endblock %}</title>
    </head>
    <body class="scrollbar">
    <header>
        <div class="container">
            <div class="logo col-md-2 col-sm-2 col-xs-2">
                <a class="scroller" href="#home">
                    <img src="{{ asset('img/logo_white.png') }}" alt="Black Bonus Card">
                </a>
            </div>
            <div class="menu col-md-10 col-sm-10 col-xs-10">
                <ul>
                    <li><a class="scroller" href="#home">{{ 'Գլխավոր'|trans }}</a></li>
                    <li><a class="scroller" href="#categories">{{ 'Բաժիններ'|trans }}</a></li>
                    <li><a class="scroller" href="#services">{{ 'Մեր Մասին'|trans }}</a></li>
                    <li><a class="scroller" href="#footer">{{ 'Հետադարձ Կապ'|trans }}</a></li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="{{ path('fos_user_profile_show') }}">{{ 'Իմ Հաշիվը'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Ելք'|trans }}</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">{{ 'Մուտք'|trans }}</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Գրանցվել'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </header>

    <button class="btn-wrapper">
      <span class="btn-burger"></span>
    </button>

    <nav class="clearfix mobile-navbar">
      <ul>
        <li><a class="scroller" href="#home">{{ 'Գլխավոր'|trans }}</a></li>
        <li><a class="scroller" href="#categories">{{ 'Բաժիններ'|trans }}</a></li>
        <li><a class="scroller" href="#services">{{ 'Մեր Մասին'|trans }}</a></li>
        <li><a class="scroller" href="#footer">{{ 'Հետադարձ Կապ'|trans }}</a></li>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <li><a href="{{ path('fos_user_profile_show') }}">{{ 'Իմ Հաշիվը'|trans }}</a></li>
              <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Ելք'|trans }}</a></li>
          {% else %}
              <li><a href="{{ path('fos_user_security_login') }}">{{ 'Մուտք'|trans }}</a></li>
              <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Գրանցվել'|trans }}</a></li>
          {% endif %}
      </ul>
    </nav>

    <a class="mobile_logo" href="#home">
      <img src="{{ asset('img/logo_white.png') }}" alt="logo">
    </a>

    {% if appMessage != "" %}
        <div class="app-message">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close"><i class="fa fa-times"></i></a>
                        {{ appMessage|raw }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% block body %}{% endblock %}
        <footer id="footer">
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 footer_section">
                    <div class="footer__logo">
                        <img src="{{ asset('img/logo_white.png') }}" alt="Black Bonus Card">
                    </div>
                    <div class="footer__links">
                        <a href="javascript:void(0)"><i class="fa fa-facebook"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
                        <a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 footer_section">
                  <p class="footer__address">
                      {{ 'Հայաստան, Երևան'|trans }}<br>
                      {{ 'Հրաչյա Քոչար 198'|trans }}
                  </p>
                  <p class="footer__email">info@black.am</p>
                  <p class="footer__phone">(011) 54 44 44</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 footer_section">
                    <div class="footer__form">
                        {{ render(controller('AppBundle:Parts:footerContact')) }}
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 developer">
                    <div class="col-md-6 col-sm-6 col-xs-12 dev__company">
                        &copy; {{ "now"|date('Y') }} Black Bonus Card {{ 'Բոլոր Իրավունքները Պաշտպանված Են'|trans }}
                    </div>
                </div>
              </div>
            </div>
        </footer>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.12.4.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
            <script type="text/javascript">
                var isMobile = false;
            </script>
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-104513219-1', 'auto');
                ga('send', 'pageview');

            </script>
        {% endblock %}
    </body>
</html>
{% endspaceless %}
