eqfeed_callback({
    "type": "FeatureCollection",
    "features": [
        {% if branches %}
            {% set branchDelimiter = "" %}
            {% for branch in branches %}
                {{ branchDelimiter }}{
                    "properties": {
                        "companyTitle": {
                            "hy": "{{ branch.company.companyTitle }}"
                        },
                        "branchTitle": {
                            "hy": "{{ branch.branchTitle }}"
                        },
                        "entityMarker": "{{ asset('img/design-elements/map-marker.png') }}",
                        "entityAddress": {
                            "hy": "{{ branch.branchAddress }}"
                        },
                        "branchPhones": [
                            {% if branch.showContacts %}
                                {% set phoneDelimiter = "" %}
                                {% for phone in branch.branchPhones %}
                                    {{ phoneDelimiter }}"{{ phone }}"
                                    {%  set phoneDelimiter = ", " %}
                                {% endfor %}
                            {% endif %}
                        ],
                        "branchEmails": [
                            {% if branch.showContacts %}
                                {% set emailDelimiter = "" %}
                                {% for email in branch.branchEmails %}
                                    {{ emailDelimiter }}"{{ email }}"
                                    {%  set emailDelimiter = ", " %}
                                {% endfor %}
                            {% endif %}
                        ]
                    },
                    "geometry": {
                        "coordinates": {
                            "lat": {% if branch.branchLat is not empty %}{{ branch.branchLat }}{% else %}""{% endif %},
                            "long": {% if branch.branchLong is not empty %}{{ branch.branchLong }}{% else %}""{% endif %}
                        }
                    }
                }
                {% set branchDelimiter = "," %}
            {% endfor %}
        {% endif %}
    ]
});