{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.fix.css') }}">
{% endblock %}
{% block fos_user_content %}
    <div style="margin-top: 200px;"></div>
    <div class="container-fluid" style="background-color:#000;">
        <div class="gap-50"></div>
        <div class="container">
            <div class="col-md-12">
                <h1>{{ 'Black Bonus Card'|trans }}</h1>
            </div>
        </div>
        <div class="gap-50"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "UserBundle:Black/parts:menu.html.twig" %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row user_inform">
            <div class="col-md-12">
                {% include "UserBundle:Black:cards_content.html.twig" %}
            </div>
        </div>
        <div class="gap-50"></div>
    </div>
{% endblock fos_user_content %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script>
        {% set dataTableLocale = 'js/i18n/dataTables.'~app.request.locale~'.lang' %}
        $(function(){
            $('.datatable').DataTable({
                "pageLength": 25,
                "lengthMenu": [ 25, 50, 100, 200, 500, 1000 ],
                "language": {"url": "{{ asset(dataTableLocale) }}"}
            });
        });
    </script>
{% endblock %}