
<div class="row">
    <div class="col-md-12">
        <p style="color: #fff; text-decoration: underline; font-weight: bold;">Ստորակետով անջատած համարների ցուցակ՝ 001, 002, 003</p>
    </div>
    <div class="col-md-12">
        {{ form_start(form) }}
        <div class="form-group">
            <label>{{ 'Քարտի Համարներ'|trans }}</label>
            {{ form_widget(form.cardNumbers, {'attr': {'class': 'form-control bg-transparent text-white', 'rows': 7}}) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.save, {'label': 'Պահպանել'|trans, 'attr': {'class': 'btn-white btn-rounded'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
<hr>
<div class="table-responsive">
    <table class="compiled general table datatable">
        <thead>
            <tr>
                <td style="width: 70px">{{ 'Քարտի Համար'|trans }}</td>
                <td style="text-align: center; width: 120px;">{{ 'Քարտի Գաղտնաբառ'|trans }}</td>
                <td>{{ 'Քարտապան'|trans }}</td>
                <td>{{ 'Անուն Ազգանուն'|trans }}</td>
                <td>{{ 'Հեռախոս'|trans }}</td>
                <td style="text-align: right;">{{ 'Օգտատերը Գրանցվել Է'|trans }}</td>
                <td style="text-align: right;">{{ 'Քարտը Գրանցվել Է'|trans }}</td>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            <tr>
                <td>{{ card.customerCardNumber }}</td>
                <td style="text-align: center;">{{ card.paymentPassword }}</td>
                <td>{{ (card.user.email is defined) ? card.user.email : '-' }}</td>
                <td>{{ (card.user.email is defined) ? card.user.firstName~" "~card.user.lastName : '-' }}</td>
                <td>{{ (card.user.email is defined) ? card.user.phoneNumber : '-' }}</td>
                <td style="text-align: right;">{{ (card.user.email is defined) ? card.user.userRegisteredAt|date('d/m/Y H:i:s') : '-' }}</td>
                <td style="text-align: right;">{{ card.cardRegisteredAt|date('d/m/Y') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
