{% extends "@FOSUser/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.fix.css') }}">
    <style>
        .datatable a {
            text-decoration: underline;
            color: #00A1DF;
        }
        #map { height: 500px; }
    </style>
{% endblock %}
{% block fos_user_content %}
    <div style="margin-top: 200px;"></div>
    <div class="container-fluid" style="background-color:#000;">
        <div class="gap-50"></div>
        <div class="container">
            <div class="col-md-12">
                <h1>{{ 'Black Bonus Card'|trans }}</h1>
            </div>
        </div>
        <div class="gap-50"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "UserBundle:Black/parts:menu.html.twig" %}
            </div>
        </div>
    </div>
    <div class="container main-container">
        <div class="row user_inform clearfix">
            <div class="col-md-12">
                {% include "UserBundle:Black:index_content.html.twig" %}
            </div>
        </div>
        <div class="gap-50"></div>
    </div>
{% endblock fos_user_content %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyALxALGW351qx4nNLEW8vWIO_oDvs8xcgM')}}" async defer></script>
    <script>

        var mapContainer = document.getElementById('map');
        var map;
        var markers = [];
        var defaultLat = 40.177614;
        var defaultLong = 44.512543;

        function initMap(lat, long) {

            clearOverlays();

            var mapLat = defaultLat;
            var mapLong = defaultLong;

            if(typeof lat !== "undefined" && typeof long !== "undefined"){
                mapLat = lat;
                mapLong = long;
            }

            var latLng = new google.maps.LatLng(mapLat, mapLong);
            var entityMarker = "{{ asset('img/design-elements/map-marker.png') }}";

            map = new google.maps.Map(mapContainer, {
                center: latLng,
                zoom: 17
            });

            var marker = new google.maps.Marker({
                position: latLng,
                map: map,
                animation: google.maps.Animation.DROP,
                icon: entityMarker
            });

            markers.push(marker);

        }

        function clearOverlays() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }
            markers.length = 0;
        }
    </script>
    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
    <script>
        {% set dataTableLocale = 'js/i18n/dataTables.'~app.request.locale~'.lang' %}
        $(function(){
            // Data Tables
            $('.datatable').DataTable({
                "pageLength": 25,
                "lengthMenu": [ 25, 50, 100, 200, 500, 1000 ],
                "language": {"url": "{{ asset(dataTableLocale) }}"}
            });

            // Branch Map Modal
            var branchLat, branchLong, branchLatLng;

            $(".modal").on("shown.bs.modal,hidden.bs.modal", function () {
                google.maps.event.trigger(map, "resize");
                map.setCenter(branchLatLng);
            });

            $('.branch-modal-toggle').on('click', function(){

                branchLat = parseFloat($(this).attr('data-lat'));
                branchLong = parseFloat($(this).attr('data-long'));

                branchLatLng = new google.maps.LatLng(branchLat, branchLong);

                initMap(branchLat, branchLong);

            });

            // Branch Withdraw
            $('.branch-modal-toggle.withdraw').on('click', function(e){
                var branchId = $(this).attr('data-branch');
                $('input[name="branch-id"]').val(branchId);
            });

            $('.withdrawSubmit').on('click', function(e){

                e.preventDefault();

                var thisBtn = $(this);

                var branchId = $('input[name="branch-id"]').val();
                var withdrawAmount = $('input[name="withdraw-amount"]').val();

                $.ajax({
                    url: '{{ path('black_withdraw_from_branch') }}',
                    method: 'POST',
                    data: 'branch='+branchId+'&amount='+withdrawAmount,
                    success: function(data){

                        $('.branchWithdrawModal').modal('toggle');

                        if(data.type == "success"){
                            var prevAmount = parseFloat($('.branchBalance'+branchId).text());
                            $('.branchBalance'+branchId).text(prevAmount - withdrawAmount);
                        }

                        var alert = "";
                        alert += "<div class=\"container\">";
                        alert += "<div class=\"alert alert-"+data.type+" alert-dismissible\" role=\"alert\">";
                        alert += "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>";
                        alert += data.message;
                        alert += "</div></div>";

                        $('.main-container').prepend(alert);

                    }
                });


            });

        });
    </script>
{% endblock %}
