<div class="table-responsive">
    <table class="compiled general table datatable">
        <thead>
        <tr>
            <td>{{ 'Կազնակերպություն'|trans }}</td>
            <td style="text-align: center;">{{ 'Մասնաճյուղ'|trans }}</td>
            <td>{{ 'Մարզ'|trans }}</td>
            <td>{{ 'Քաղաք'|trans }}</td>
            <td style="text-align: center;">{{ 'Հասցե'|trans }}</td>
            <td style="text-align: right;">{{ 'Բալանս'|trans }}</td>
            <td style="text-align: right;">-</td>
        </tr>
        </thead>
        <tbody>
        {% for branch in branches %}

            {% set branchBalance = 0 %}

            {% for acc in branch.account %}
                {% if acc.accountType.id == 1 %}
                    {% if acc.balance is not empty %}
                        {% set bb = acc.balance.first %}
                        {% set branchBalance = bb.finalAmount %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            <tr>
                <td>{{ branch.company.companyTitle }}</td>
                <td style="text-align: center;">{{ branch.branchTitle }}</td>
                <td>{{ branch.city.region.regionTitle }}</td>
                <td>{{ branch.city.cityTitle }}</td>
                <td style="text-align: center;">
                    <a href="#" class="branch-modal-toggle" data-toggle="modal" data-target=".branchMapModal" data-lat="{{ branch.branchLat }}" data-long="{{ branch.branchLong }}">{{ branch.branchAddress }}</a>
                </td>
                <td style="text-align: right;" class="branchBalance{{ branch.id }}">{{ branchBalance }}</td>
                <td style="text-align: right;">
                    {% if branchBalance != 0 %}
                    <a href="#" class="branch-modal-toggle withdraw" data-toggle="modal" data-branch="{{ branch.id }}" data-target=".branchWithdrawModal">{{ 'Կանխիկացնել'|trans }}</a>
                    {% else %}
                    <div style="color: #4c4c4c;">{{ 'Կանխիկացնել'|trans }}</div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="modal branchMapModal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="branchModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {{ 'Մասնաճյուղի հասցե'|trans }}
            </div>
            <div class="modal-body">
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal branchWithdrawModal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="withdrawModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {{ 'Կանխիկացնել'|trans }}
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" name="branch-id">
                        <div class="form-group">
                            <input type="text" name="withdraw-amount" placeholder="{{ 'Գումար'|trans }}" class="form-control" style="color: #000; border: 1px solid #333;">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn-white btn-rounded withdrawSubmit">{{ 'Կանխիկացնել'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
